<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
</head>
<body>
<div th:fragment="CONTENT" role="main" class="col-sm-10 pt-3">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Изменение данных для страницы "Контакты"</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <a th:href="@{'/editor/contacts/add'}"><button class="btn btn-sm btn-outline-secondary">Добавить контакт</button></a>
            </div>
        </div>
    </div>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>Тип</th>
            <th>Содержание</th>
            <th>Дата изменения</th>
            <th>Время изменения</th>
            <th>Изменил(а)</th>
            <th>Функции</th>
        </tr>
        </thead>
        <tr th:each="item : ${CONTACTS_LIST}">
            <form method="post" action="/editor/contacts/update" th:object="${contact}">
                <td class="align-middle" th:text="${item.type}">
                </td>
                <td>
                    <input class="form-control" th:value="${item.content}" type="text" name="content" placeholder="..."/>
                </td>
                <td class="align-middle" th:text="${#dates.format(item.date, 'dd.MM.yyyy')}"></td>
                <td class="align-middle" th:text="${#dates.format(item.time, 'HH:mm:ss')}"></td>
                <td class="align-middle" th:text="${item.updatedBy}"></td>
                <td>
                    <input type="hidden" id="type" name="type" th:value="${item.type}"/>
                    <input type="hidden" name="id" th:value="${item.id}"/>
                    <button type="submit" class="btn btn-primary">Обновить</button>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
                            th:attr="data-id=${item.id},data-title=${item.content},
                                data-date=${#dates.format(item.date, 'dd.MM.yyyy')} + ' ' + ${#dates.format(item.time, 'HH:mm:ss')}">
                        Удалить
                    </button>
                </td>
            </form>
        </tr>
    </table>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Вы действительно хотите удалить контакт?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <h5 class="card-title">Содержание:</h5>
                    <p id="title" class="card-text"></p>
                    <p class="card-text"><small id="date" class="text-muted"></small></p>
                </form>
            </div>
            <div class="modal-footer">
                <form method="post" enctype="multipart/form-data" action="/editor/contacts/delete">
                    <input type="hidden" id="id" name="id"/>
                    <button type="submit" class="btn btn-danger">Удалить</button>
                </form>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>