<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Редактирование - Добавление новости</title>
</head>
<body>
    <div th:fragment="CONTENT" role="main" class="col-sm-9 pt-3">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">Добавление новости</h1>
        </div>

        <form method="post" enctype="multipart/form-data" action="/editor/news/add" modelAttribute="news">
            <div class="form-group">
                <label for="title">Заголовок</label>
                <input name="title" type="text" class="form-control" id="title" placeholder="Заголовок..."/>
                <div th:if="${#vars['title_error']}" style="display:block;" class="invalid-feedback">
                    Заголовок должен содержать минимум 7 символов.
                </div>
            </div>
            <div class="form-group">
                <label for="content">Содержание</label>
                <textarea id="content" name="content" class="form-control" rows="3"></textarea>
                <div th:if="${#vars['content_error']}" style="display:block;" class="invalid-feedback">
                    Содержание должно состоять минимум из 10 символов.
                </div>
            </div>
            <div class="form-group">
                <label for="image">Изображение</label>
                <input accept="image/jpeg,image/png,image/gif,image/jpg" id="image" name="image" type="file"/>
                <div th:if="${#vars['image_error']}" style="display:block;" class="invalid-feedback">
                    Требуется выбрать изображение.
                </div>
            </div>
            <button name="submit" type="submit" class="btn btn-primary">Добавить</button> |
            <button name="cancel" type="submit" class="btn btn-primary">Назад</button>
        </form>
    </div>
</body>
</html>