<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Редактирование - Удалить новость</title>
</head>
<body>
    <div th:fragment="CONTENT" role="main" class="col-sm-10 pt-3">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">Удаление новости</h1>
        </div>
        <div style="width:50%; margin:auto" class="card text-center border-danger">
            <!--<div class="card-body">
                <form method="post" enctype="multipart/form-data" action="/editor/news/delete">
                    <button name="cancel" type="submit" class="close" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="card-title text-danger">Вы действительно хотите удалить новость?</h5>
                    <img class="border rounded p-2 m-3" style="width:auto; height:200px;" th:src="@{'~/' + ${news_images_path} + '/' + ${news.imageName}}"/>
                    <div class="form-group" th:align="left">
                        <div class="form-group row">
                            <label for="title" class="col-sm-5 col-form-label">Заголовок:</label>
                            <div class="col-sm-5">
                                <span class="form-control-plaintext" id="title" th:text="${news.title}"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="content" class="col-sm-5 col-form-label">Содержание:</label>
                            <div class="col-sm-5">
                                <span class="form-control-plaintext" id="content" th:text="${news.content}"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="date" class="col-sm-5 col-form-label">Последнее изменение:</label>
                            <div class="col-sm-5">
                                <span class="form-control-plaintext" id="date" th:text="@{${news.date} + ' ' + ${news.time}}"></span>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" id="id" class="form-control" name="id" th:value="${news.id}"/>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button name="submit" type="submit" class="btn btn-secondary btn-outline-danger">Подтвердить</button>
                    </div>

                </form>-->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                    Launch demo modal
                </button>
            </div>


    </div>
</body>
</html>