<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Редактирование - Изменить новость</title>
</head>
<body>
<div th:fragment="main" role="main" class="col-sm-10 p-3 m-4 mr-auto ml-auto mb-5">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Изменение новости</h1>
    </div>
    <div class="man-edit text-center">
        <img class="border rounded p-2" th:src="@{'~/' + ${news_images_path} + '/' + ${news.imageName}}"/>
    </div>

    <div class="m-1 p-2">
        <form method="post" enctype="multipart/form-data" action="/editor/news/edit" th:object="${news}">
            <div class="form-group">
                <label for="title">Заголовок</label>
                <input th:value="${news.title}" class="form-control" id="title" th:field="*{title}" type="text"  name="title" placeholder="..."/>
                <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}" style="display:block;" class="invalid-feedback"></div>
            </div>
            <div class="form-group">
                <label for="content">Содержание</label>
                <textarea th:text="${news.content}" id="content" name="content" th:field="*{content}" class="form-control" rows="3"></textarea>
                <div th:if="${#fields.hasErrors('content')}" th:errors="*{content}" style="display:block;" class="invalid-feedback"></div>
            </div>
            <div class="form-group">
                <label for="image">Изображение</label>
                <input accept="image/jpeg,image/png,image/gif,image/jpg" id="image" name="image" type="file"/>
                <div th:if="${#vars['image_err']}" style="display:block;" class="invalid-feedback">
                    <span th:text="${image_err}"></span>
                </div>
            </div>
            <input type="hidden" id="id" class="form-control" name="id" th:value="${news.id}"/>
            <button name="submit" type="submit" class="btn btn-primary">Сохранить</button> |
            <a href="/editor/news"><button type="button" class="btn btn-secondary">Назад</button></a>
        </form>
    </div>
</div>
</body>
</html>