<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
</head>
<body>
<nav th:fragment="navbar" class="bg-transparent" style="display: inline-block;" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/forum}">Форум</a></li>
        <li class="breadcrumb-item" th:if="@{${educ} != null}">
            <a th:text="${educ.name}" th:if="@{${course} != null}" th:href="@{'/forum/' + ${educ.id}}">Курсы</a>
            <span th:text="${educ.name}" th:if="@{${course} == null}">Курсы</span>
        </li>
        <li class="breadcrumb-item" th:if="@{${course} != null}">
            <a th:text="${course.name}" th:if="@{${spec} != null}" th:href="@{'/forum/' + ${educ.id} + '/' + ${course.id}}">Специализация</a>
            <span th:text="${course.name}" th:if="@{${spec} == null}">Специализация</span>
        </li>
        <li class="breadcrumb-item" th:if="@{${spec} != null}">
            <a th:text="${spec.name}" th:if="@{${disc} != null}" th:href="@{'/forum/' + ${educ.id} + '/' + ${course.id} + '/' + ${spec.id}}">Дисциплина</a>
            <span th:text="${spec.name}" th:if="@{${disc} == null}">Дисциплина</span>
        </li>
        <li class="breadcrumb-item" th:if="@{${disc} != null}">
            <a th:text="${disc.name}" th:if="@{${thread} != null}" th:href="@{'/forum/' + ${educ.id} + '/' + ${course.id} + '/' + ${spec.id} + '/' + ${disc.id}}">Темы</a>
            <span th:text="${disc.name}" th:if="@{${thread} == null}">Темы</span>
        </li>
        <li class="breadcrumb-item" th:if="@{${thread} != null}">
            <span th:text="${thread.name}">Тема</span>
        </li>
    </ol>
</nav>
</body>
</html>