<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
</head>
<body>
<div th:fragment="main" role="main" class="container mt-4">
    <h1 class="display-4 ml-3 mr-3">Форум</h1>
    <hr class="my-4"/>
    <div class="my-3 p-3 bg-white rounded box-shadow">
        <nav th:replace="@{'fragments/forum/breadcrumb'} :: navbar"></nav>

        <div th:each='item : ${list}' class="media text-muted pt-3">
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <a th:href="@{'./' + ${current_id} + '/' + ${item.id}}">
                    <strong th:text="${item.name}" class="pl-3 d-block text-gray-dark"></strong>
                </a>
                <span class="pl-4" th:if="${item.description}" th:text="${#strings.abbreviate(item.description,100)}"></span>
            </p>
        </div>

        <small class="d-block text-right mt-3">
            <a href="#">Ссылка</a> <span th:text="${text}"></span>
        </small>
    </div>
</div>
</body>
</html>