<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
</head>
<body>
<div th:fragment="main" role="main" class="container mt-4">
    <h1 class="display-4 ml-3 mr-3">Форум</h1>
    <hr class="my-4"/>
    <div class="my-3 p-3 bg-white rounded box-shadow">

        <nav style="display: inline-block;" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/forum}">Форум</a></li>

                <li class="breadcrumb-item" th:if="${educ_id}">
                    <a th:text="${educ_name}" th:if="${course_id}" th:href="@{'/forum/' + ${educ_id}}">Курсы</a>
                    <span th:text="${educ_name}" th:if="@{not ${course_id}}">Курсы</span>
                </li>

                <li class="breadcrumb-item" th:if="${course_id}">
                    <a th:text="${course_name}" th:if="${spec_id}" th:href="@{'/forum/' + ${educ_id} + '/' + ${course_id}}">Специализация</a>
                    <span th:text="${course_name}" th:if="@{not ${spec_id}}">Специализация</span>
                </li>

                <li class="breadcrumb-item" th:if="${spec_id}">
                    <a th:text="${spec_name}" th:if="${disc_id}" th:href="@{'/forum/' + ${educ_id} + '/' + ${course_id} + '/' + ${spec_id}}">Дисциплина</a>
                    <span th:text="${spec_name}" th:if="@{not ${disc_id}}">Дисциплина</span>
                </li>

                <li class="breadcrumb-item" th:if="${disc_id}">
                    <a th:text="${disc_name}" th:if="${thread_id}" th:href="@{'/forum/' + ${educ_id} + '/' + ${course_id} + '/' + ${spec_id} + '/' + ${disc_id}}">Темы</a>
                    <span th:text="${disc_name}" th:if="@{not ${thread_id}}">Темы</span>
                </li>

                <li class="breadcrumb-item" th:if="${thread_id}">
                    <span th:text="${thread_name}">Тема</span>
                </li>
            </ol>
        </nav>

        <div th:each='item : ${list}' class="media text-muted pt-3">

            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <a th:href="@{'./' + ${current_id} + '/' + ${item.id}}">
                    <strong th:text="${item.name}" class="pl-3 d-block text-gray-dark"></strong>
                </a>
                <span class="pl-4" th:if="${item.description}" th:text="${#strings.abbreviate(item.description,100)}"></span>
            </p>
        </div>

        <small class="d-block text-right mt-3">
            <a href="#">Ссылка</a> <span th:text="${text}"></span>
        </small>
    </div>
</div>
</body>
</html>