<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
</head>
<body>
    <div th:fragment="main" role="main" class="container mt-4">

        <div th:each='item : ${list}' class="media text-muted pt-3">

            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <a th:href="@{'/forum/' + ${item.id}}">
                    <span style="font-size: 12pt;" class="pl-3 d-block text-gray-dark" th:text="${item.name}"></span>
                </a>
                <th:block>
                    <span th:if="${not #strings.isEmpty(item.description)}" class="pl-4" th:text="${#strings.abbreviate(T(org.jsoup.Jsoup).parse(item.description).text(),150)}" ></span>
                </th:block>
            </p>
        </div>
    </div>
</body>
</html>