<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
</head>
<body>
<div th:fragment="main" role="main" class="container mt-4">
    <nav th:replace="@{'fragments/forum/breadcrumb'} :: navbar"></nav>

    <div class="card">
        <div class="card-header">
            <h5 class="mb-0" th:text="${thread.name}">Заголовок</h5>
        </div>
        <div class="card-body bg-transparent">
            <p th:text="${thread.content}" class="card-text">Содержание темы.</p>
        </div>
        <div class="card-footer bg-transparent text-right">
            <small th:text="@{'Автор: ' + ${thread.updatedBy} + '. Дата последнего изменения: ' + ${thread.time} + ' ' + ${thread.date}}"></small>
        </div>
    </div>
</div>
</body>
</html>