<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
</head>
<body>
<div th:fragment="main" role="main" class="col-sm-10 p-3 m-4 mr-auto ml-auto mb-5">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 th:if="${passage.id}" class="h2" th:text="#{edit_passage_title}"></h1>
        <h1 th:if="@{not ${passage.id}}" class="h2" th:text="#{add_passage_title}"></h1>
    </div>
    <div class="m-1 p-2">
        <form method="post" enctype="multipart/form-data" th:action="${'save'}" th:object="${passage}">
            <div class="text-center">
                <div>
                    <img class="border rounded" th:width="300px" th:src="@{'/' + ${PASSAGE_IMAGES} + '/' + ${passage.imageName}}"/>
                </div>
                <label th:if="${passage.imageName}" class="form-check-label mr-4" for="enable" th:text="#{remove}"></label>
                <input th:if="${passage.imageName}" name="clear" class="form-check-input" type="checkbox" id="enable"/>
            </div>
            <div class="form-group">
                <label for="image" th:text="#{image}"></label>
                <input accept="image/jpeg,image/png,image/gif,image/jpg" id="image" name="image" type="file"/>
                <div th:if="${#vars['image_err']}" style="display:block;" class="invalid-feedback">
                    <span th:text="${image_err}"></span>
                </div>
            </div>
            <div class="form-group">
                <label for="title" th:text="#{title}"></label>
                <input th:value="${passage.title}" class="form-control" id="title" th:field="*{title}" type="text"  name="title" placeholder="..."/>
                <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}" style="display:block;" class="invalid-feedback"></div>
            </div>
            <div class="form-group">
                <label for="shortcut" th:text="#{shortcut}"></label>
                <input th:value="${passage.shortcut}" class="form-control" id="shortcut" th:field="*{shortcut}" type="text"  name="shortcut" placeholder="..."/>
                <div th:if="${#fields.hasErrors('shortcut')}" th:errors="*{shortcut}" style="display:block;" class="invalid-feedback"></div>
            </div>
            <div class="form-group">
                <label for="summernote" th:text="#{content}"></label>
                <div th:if="${#fields.hasErrors('content')}" th:errors="*{content}" style="display:block;" class="mb-2 invalid-feedback"></div>
                <textarea id="summernote" th:text="${passage.content}" name="content" th:field="*{content}"></textarea>
            </div>
            <input th:if="${passage.id}" type="hidden" id="id" class="form-control" name="id" th:value="${passage.id}"/>
            <button name="submit" type="submit" class="btn btn-primary" th:text="#{save}"></button> |
            <a href="/editor/about"><button type="button" class="btn btn-secondary" th:text="#{back}"></button></a>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        </form>
    </div>
</div>
</body>
</html>