<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
</head>
<body>
    <div th:fragment="main" role="main">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li th:each="item, iterStat : ${NEWS_LIST}" data-target="#myCarousel" th:attr="data-slide-to=${iterStat.index}" th:class="@{${NEWS_LIST[0].id} == ${item.id} ? 'active' : ''}"></li>
            </ol>
            <div class="carousel-inner">
                <div th:class="@{${NEWS_LIST[0].id} == ${item.id} ? 'carousel-item crop-slider active' : 'carousel-item crop-slider'}" th:each='item, iterStat : ${NEWS_LIST}'>
                    <img class="first-slide" th:src="@{${news_images_path} + '/' + ${item.imageName}}"/>
                    <div class="container">
                        <div class="carousel-caption" th:classappend="text-center">
                            <h1 th:text="${item.title}"></h1>
                            <p th:text="${#strings.abbreviate(item.content,140)}"></p>
                            <p><a class="btn btn-lg btn-primary" th:href="${'/news/' + item.id}" role="button">Далее</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                <div class="carousel-control-prev-icon"></div>
            </a>
            <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                <div class="carousel-control-next-icon"></div>
            </a>
        </div>
        <div class="container marketing">
            <div class="row">
                <div class="col-lg-4" th:each='item : ${MAN_LIST}'>
                    <div class="main-man-crop">
                        <img class="rounded" th:width="250px" th:src="@{${man_images_path} + '/' + ${item.imageName}}"/>
                    </div>
                    <h3 th:text="@{${item.surname} + ' ' + ${item.name} + ' '} + @{${item.patronymic} ? ' ' + ${item.patronymic} : ''}"></h3>
                    <p th:text="${item.description}"></p>
                </div>
            </div>
            <div th:each='item : ${INFOBLOCK_LIST}'>
                <hr class="featurette-divider"/>
                <div class="row featurette">
                    <div th:class="${INFOBLOCK_LIST[1].id} == ${item.id} ? 'col-md-7 order-md-2 text-right' : 'col-md-7'">
                        <h2 th:text="${item.title}" class="featurette-heading"></h2>
                        <h3 th:text="${item.slogan}" class="featurette-heading-my"><span class="text-muted"></span></h3>
                        <p th:text="${item.description}" class="lead"></p>
                    </div>
                    <div class="col-md-5">
                        <img width="500px" height="500px" class="featurette-image img-fluid mx-auto" th:src="@{${infoblock_images_path} + '/' + ${INFOBLOCK_LIST[0].imageName}}"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>