<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>

</head>
<body>

    <header>
        <!--    TOP NAVBAR  -->
        <nav th:replace="${'/fragments/navbar'} :: navbar(${'forum'})"></nav>
    </header>

    <nav th:fragment="navbar(activeTab)" role="navigation" class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <div class="container d-flex justify-content-between">
            <a class="navbar-brand" href="#">LOGO</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a th:class="${activeTab == 'MAIN'} ? 'active nav-link' : 'nav-link'" th:href="@{'/'}">
                            <span data-feather="home"></span>
                            Главная
                        </a>
                    </li>
                    <li class="nav-item">
                        <a th:class="${activeTab == 'FORUM'} ? 'active nav-link' : 'nav-link'" th:href="@{'/forum'}">
                            <span data-feather="file"></span>
                            Форум
                        </a>
                    </li>
                    <li class="nav-item">
                        <a th:class="${activeTab == 'EDITOR'} ? 'active nav-link' : 'nav-link'" th:href="@{'/editor'}">
                            <span data-feather="shopping-cart"></span>
                            Редактор
                        </a>
                    </li>
                    <li class="nav-item">
                        <a th:class="${activeTab == 'NEWS'} ? 'active nav-link' : 'nav-link'" th:href="@{'/news'}">
                            <span data-feather="shopping-cart"></span>
                            Новости
                        </a>
                    </li>
                    <!--<li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Кафедра
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" th:href="@{'/info'}">Информация</a>
                            <a class="dropdown-item" th:href="@{'/staff'}">Сотрудники</a>
                        </div>
                    </li>-->
                    <li class="nav-item">
                        <a th:class="${activeTab == 'ABOUT'} ? 'active nav-link' : 'nav-link'" th:href="@{'/about'}">
                            <span data-feather="shopping-cart"></span>
                            О кафедре
                        </a>
                    </li>
                    <li class="nav-item">
                        <a th:class="${activeTab == 'STAFF'} ? 'active nav-link' : 'nav-link'" th:href="@{'/staff'}">
                            <span data-feather="shopping-cart"></span>
                            Сотрудники
                        </a>
                    </li>
                    <li class="nav-item">
                        <a th:class="${activeTab == 'CONTACTS'} ? 'active nav-link' : 'nav-link'" th:href="@{'/contacts'}">
                            <span data-feather="shopping-cart"></span>
                            Контакты
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</body>
</html>