<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="@{'editor/fragments/header'} :: title(${MENU_OPTION})"></head>
<body>
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#" th:text="#{editor_title}"></a>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="/forum" th:text="#{editor_exit}"></a>
        </li>
    </ul>
</nav>
<div class="container-fluid">
    <div class="row">
        <nav th:replace="@{'editor/fragments/navbar'} :: left_menu(${MENU_OPTION})"></nav>
        <div th:replace="${CONTENT}"></div>
    </div>
</div>

<script th:inline="javascript">
    var lang = [[${lang}]];
    var holder;
    var currentLang;
    if (lang === 'en'){
        currentLang = 'en-US';
        holder = 'Here write your text...';
    }
    if (lang === 'ru'){
        currentLang = 'ru-RU';
        holder = 'Напишите тут что-нибудь...'
    }
    $('#summernote').summernote({
        placeholder: holder,
        tabsize: 2,
        height: 300,
        lang: currentLang
    });
</script>
<!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"-->
        <!--integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"-->
        <!--crossorigin="anonymous"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script th:src="@{/js/delete-modal.js}"></script>
<script th:src="@{/js/trumbowyg.min.js}"></script>
<script>$('#trumbowyg').trumbowyg();</script>
</body>
</html>