<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <title>КСТНМ - Форум</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link th:href="@{/css/forum.css}" rel="stylesheet" media="screen"/>
</head>
<body>

    <header>
        <!--    TOP NAVBAR  -->
        <nav th:replace="${'/fragments/navbar'} :: navbar(${'forum'})"></nav>
    </header>

    <main role="main" class="container">
        <div class="my-3 p-3 bg-white rounded box-shadow">
            <h6 class="border-bottom border-gray pb-2 mb-0">Список направлений</h6>



            <div th:each='course : ${course_list}' class="media text-muted pt-3">
                <img data-src="holder.js/32x32" alt="" class="mr-2 rounded"/>
                <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                    <strong th:text="${course.title}" class="d-block text-gray-dark"></strong>
                    <span th:text='${course.description}'></span>
                </p>
            </div>



            <small class="d-block text-right mt-3">
                <a href="#">All updates</a>
            </small>
        </div>
    </main>
</body>
</html>