<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link th:href="@{css/bootstrap.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{css/bootstrap-grid.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{css/bootstrap-reboot.css}" rel="stylesheet" media="screen"/>
    <title>Кафедра симуляционного образования и неотложной медицины</title>
</head>
<body>

    <!--<h1 th:text="@{topNews}"></h1>-->
    <table class="table table-striped">
        <tr>
            <td>ID</td>
            <td>TITLE</td>
            <td>CONTENT</td>
            <td>DATE</td>
            <td>TIME</td>
        </tr>
        <tr th:each="news : ${news_list}">
            <td th:text="${news.id}"></td>
            <td th:text="${news.title}"></td>
            <td th:text="${news.content}"></td>
            <td th:text="${news.date}"></td>
            <td th:text="${news.time}"></td>
        </tr>
    </table>
    <br/>
    <div class="btn-group">
        <button type="button" class="btn btn-success">This is a success button</button>
        <button type="button" class="btn btn-warning">This is a warning button</button>
        <button type="button" class="btn btn-danger">This is a danger button</button>

    </div>



    <script th:src="@{js/bootstrap.js}"></script>
    <script th:src="@{js/bootstrap.bundle.js}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
</body>
</html>