<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content="Simulation education and emergency medicine"/>
    <!-- <link rel="icon" href="../../../../favicon.ico"> -->
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"></link>
    <link th:href="@{css/carousel_my.css}" rel="stylesheet"/>
    <link th:href="@{css/album.css}" rel="stylesheet"/>
    <link th:href="@{css/my-own.css}" rel="stylesheet"/>
    <title>Кафедра симуляционного образования и неотложной медицины</title>

</head>
<body>
    <header>
        <!--    TOP NAVBAR  -->
        <nav th:replace="${'/fragments/navbar'} :: navbar(${'main'})"></nav>
    </header>

<main role="main">

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="first-slide" th:src="@{${topnews_upload_directory} + '/' + ${news_list[0].imageName}}"/>
                <div class="container">
                    <div class="carousel-caption text-left">
                        <h1 th:text="${news_list[0].title}">Название 1</h1>
                        <p th:text="${news_list[0].content}">Описание 1</p>
                        <p><a class="btn btn-lg btn-primary" href="#" role="button">Кнопка 1</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="first-slide" th:src="@{${topnews_upload_directory} + '/' + ${news_list[1].imageName}}"/>
                <div class="container">
                    <div class="carousel-caption">
                        <h1 th:text="${news_list[1].title}">Заголовок 2.</h1>
                        <p th:text="${news_list[1].content}">Подпись под заголовком номер 2.</p>
                        <p><a class="btn btn-lg btn-primary" href="#" role="button">Кнопка 2</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="first-slide" th:src="@{${topnews_upload_directory} + '/' + ${news_list[2].imageName}}"/>
                <div class="container">
                    <div class="carousel-caption text-right">
                        <h1 th:text="${news_list[2].title}">Заголовок 3.</h1>
                        <p th:text="${news_list[2].content}">Подпись под заголовком номер 3.</p>
                        <p><a class="btn btn-lg btn-primary" href="#" role="button">Кнопка 3</a></p>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
            <div class="carousel-control-prev-icon"></div>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
            <div class="carousel-control-next-icon"></div>
        </a>
    </div>


    <div class="container marketing">

        <div class="row">
            <div class="col-lg-4">
                <img class="rounded-circle" th:src="@{${man_upload_directory} + '/' + ${man_list[0].imageName}}" width="140" height="140"/>
                <h3 th:text="@{${man_list[0].surname} + ' ' + ${man_list[0].name}} + @{${man_list[0].patronymic} ? ' ' + ${man_list[0].patronymic} : ''}"></h3>
                <p th:text="${man_list[0].description}"></p>
            </div>
            <div class="col-lg-4">
                <img class="rounded-circle" th:src="@{${man_upload_directory} + '/' + ${man_list[1].imageName}}" width="140" height="140"/>
                <h3 th:text="@{${man_list[1].surname} + ' ' + ${man_list[1].name}} + @{${man_list[1].patronymic} ? ' ' + ${man_list[1].patronymic} : ''}"></h3>
                <p th:text="${man_list[1].description}"></p>
            </div>
            <div class="col-lg-4">
                <img class="rounded-circle" th:src="@{${man_upload_directory} + '/' + ${man_list[2].imageName}}" width="140" height="140"/>
                <h3 th:text="@{${man_list[2].surname} + ' ' + ${man_list[2].name}} + @{${man_list[2].patronymic} ? ' ' + ${man_list[2].patronymic} : ''}"></h3>
                <p th:text="${man_list[2].description}"></p>
            </div>
        </div>


        <hr class="featurette-divider"/>

        <div class="row featurette">
            <div class="col-md-7">
                <h2 th:text="${infoblock_list[0].title}" class="featurette-heading">Заголовок о кафедре 1</h2>
                <h3 th:text="${infoblock_list[0].slogan}" class="featurette-heading-my"><span class="text-muted"></span></h3>
                <p th:text="${infoblock_list[0].description}" class="lead">Длинное описание блока номер один о кафедре. Длинное описание блока номер один о кафедре. Длинное описание блока номер один о кафедре. Длинное описание блока номер один о кафедре.</p>
            </div>
            <div class="col-md-5">
                <img width="500px" height="500px" class="featurette-image img-fluid mx-auto" th:src="@{${infoblock_upload_directory} + '/' + ${infoblock_list[0].imageName}}"
                     alt="Generic placeholder image"/>
            </div>
        </div>

        <hr class="featurette-divider"/>

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 th:text="${infoblock_list[1].title}" class="featurette-heading">Заголовок о кафедре 2.</h2>
                <h3 th:text="${infoblock_list[1].slogan}" class="featurette-heading-my"><span class="text-muted">Призыв к действию.</span></h3>
                <p th:text="${infoblock_list[1].description}" class="lead">Длинное описание блока номер два о кафедре. Длинное описание блока номер два о кафедре. Длинное описание блока номер два о кафедре. Длинное описание блока номер два о кафедре.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img width="500px" height="500px" class="featurette-image img-fluid mx-auto" th:src="@{${infoblock_upload_directory} + '/' + ${infoblock_list[1].imageName}}"
                     alt="Generic placeholder image"/>
            </div>
        </div>

        <hr class="featurette-divider"/>

        <div class="row featurette">
            <div class="col-md-7">
                <h2 th:text="${infoblock_list[2].title}" class="featurette-heading">Заголовок о кафедре 3. </h2>
                <h3 th:text="${infoblock_list[2].slogan}" class="featurette-heading-my"><span class="text-muted">Призыв к действию.</span></h3>
                <p th:text="${infoblock_list[2].description}" class="lead">Длинное описание блока номер три о кафедре. Длинное описание блока номер три о кафедре. Длинное описание блока номер три о кафедре. Длинное описание блока номер три о кафедре.</p>
            </div>
            <div class="col-md-5">
                <img width="500px" height="500px" class="featurette-image img-fluid mx-auto"
                     th:src="@{${infoblock_upload_directory} + '/' + ${infoblock_list[2].imageName}}"
                     alt="Generic placeholder image"/>
            </div>
        </div>

        <hr class="featurette-divider"/>


    </div>


    <!-- FOOTER -->
    <footer class="container">
        <p class="float-right"><a href="#">Наверх</a></p>
        <p>&copy; 2018, Кафедра симуляционных технологий и неотложной медицины . &middot; <a href="#">Ссылка</a>
            &middot; <a href="#">Ссылка</a></p>
    </footer>

</main>


<!-- ================================================== -->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>